.figurePokemon {
    width: 200px;
    height: 280px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.imgPokemon {
    height: 150px;
    width: 200px;
}

