.login{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.imglogin{
    width: 50vw;
}

#buttonLogin{
    width: 12vw;
    background-color: var(--secondary);
    border: solid 1px var(--background-color);
    color: var(--background-color);
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

