.gameMemory {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}
  
section {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-content: center;
}
  