.interface {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2{
    padding-top: 2rem;
}

#startGame{
    width: 20vw;
    height: 5vh;
    background-color: var(--secondary);
    border: solid 1px var(--background-color);
    color: var(--background-color);
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}

.game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    cursor: crosshair;
}

.score {
    padding: 0 48px;
    line-height: 2;
    border-radius: 20px;
    color: var(--primary);
    border: 5px solid var(--primary);
}

.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after {
    margin-top: 6rem;
    display: block;
    background: url("https://res.cloudinary.com/dm78sei77/image/upload/v1683720877/Pngtree_vector_black_circle_6195114_jmmlhx.png") bottom center no-repeat;
    background-size: contain;
    content: "";
    width: 110%;
    height: 250px;
    position: absolute;
    bottom: -14px;
}

.volverajugar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.playAgainTopo{
    width: 30vw;
    height: 5vh;
    background-color: var(--secondary);
    border: solid 1px var(--background-color);
    color: var(--background-color);
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}

.mole {
    background: url("https://res.cloudinary.com/dm78sei77/image/upload/v1683640312/topo_zyptbf.png") center center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 100%;
    width: 80%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s;
}

.hole.up .mole{
    top: 0;
    left: 28px;
}

@media screen and (max-width: 432px) {
    .game {
        width: 300px;
        height: 250px;
    }
    .title-wakatopo {
        font-size: 45px;
        margin-top: 10px;
      }
      .mole {
        background: url("https://res.cloudinary.com/dm78sei77/image/upload/v1683640312/topo_zyptbf.png") center center no-repeat;
        background-size: 100%;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.5s;
    }
    .hole.up .mole{
        top: 0;
        left: 0px;
    }
      .hole:after {
        display: block;
        background: url("https://res.cloudinary.com/dm78sei77/image/upload/v1683720877/Pngtree_vector_black_circle_6195114_jmmlhx.png") bottom center no-repeat;
        background-size: contain;
        content: "";
        width: 100%;
        height: 90px;
        position: absolute;
        z-index: 0;
    }

}

