footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: var(--background-color);
    border-top: solid 1px;
    border-color: var(--third-color);
}